{
    "swagger": "2.0",
    "info": {
        "title": "\u8bf4\u660e",
        "description": "\n1.\u63a5\u5165\u8bf4\u660e <br/>&nbsp;&nbsp;\u8bf7\u54a8\u8be2\u672c\u7cfb\u7edf\u4e13\u5458\u5f00\u8bbe\u6d4b\u8bd5\u8d26\u53f7\u5bc6\u7801, \u5f85\u6d4b\u8bd5\u901a\u8fc7\u540e,\u5c06\u5f00\u8bbe\u751f\u4ea7\u73af\u5883\u7684\u8d26\u53f7\u5bc6\u7801 <br/>\n<br/>\n2.\u7b7e\u540d\u9a8c\u8bc1\u7b97\u6cd5 <br/>\n&nbsp;&nbsp;signature = sha1(md5($password) . $agent-id . PUBLIC_KEY . $timestamp) <br/>\n\n\u53d8\u91cf\u540d | \u8bf4\u660e | \u6837\u4f8b\n----|----|---\n$password  |  \u8d26\u53f7\u5bf9\u5e94\u7684\u5bc6\u7801  |  1a2c3d4e\n$agent-id  |  \u4ee3\u7406\u5546\u552f\u4e00ID  |   10086\nPUBLIC_KEY  |  \u7cfb\u7edf\u63d0\u4f9b\u7684\u516c\u94a5  |  XMISP_TEST\n$timestamp  |  \u5f53\u524d\u65f6\u95f4\u6233  |  1471577680\n<br/>\n3.\u516c\u5171\u53c2\u6570\u8bbe\u7f6e <br/>&nbsp;&nbsp;\u5728\u8fdb\u884c\u6d4b\u8bd5\u7684\u65f6\u5019\uff0c\u9700\u5148\u5bf9\u516c\u5171\u53c2\u6570\u8fdb\u884c\u8bbe\u7f6e\u3002<br/>\n&nbsp;&nbsp;\u6b65\u9aa4\uff1a1. \u70b9\u51fb\u53f3\u4e0a\u89d2\u201c\u8bbe\u7f6e\u516c\u5171\u53c2\u6570\u201d\u6309\u94ae 2. \u5728\u5f39\u51fa\u6846\u5185\uff0c\u5206\u522b\u5c06agent-id\u3001timestamp\u3001signature\u4e09\u4e2a\u53c2\u6570\u7684\u503c\u586b\u5165\u8f93\u5165\u6846\u5185\u5e76\u70b9\u51fb\u5bf9\u5e94\u8f93\u5165\u6846\u4e0b\u7684\u201c\u8bbe\u7f6e\u201d\u6309\u94ae\uff0c\n3\u4e2a\u53c2\u6570\u7684\u8bf4\u660e\u8bf7\u53c2\u8003 \u201c\u7b7e\u540d\u9a8c\u8bc1\u7b97\u6cd5\u201d\u3002<br/>\n<br/>\n4.\u63a5\u53e3ID\u5b57\u6bb5\u8bf4\u660e <br/>&nbsp;&nbsp;\u5f53\u8bbf\u95ee\u8054\u7cfb\u4eba\u6a21\u677f\u6216\u57df\u540d\u89e3\u6790\u8bb0\u5f55\u7684\u521b\u5efa\u63a5\u53e3\u5373/contact-template\u3001/analysis-record\u524d\uff0c\n\u9700\u5148\u5728\u4ee3\u7406\u5546\u672c\u5730\u521b\u5efa\u4e00\u4e2a\u552f\u4e00\u7684\u8054\u7cfb\u4eba\u6a21\u677fID\u6216\u57df\u540d\u89e3\u6790\u8bb0\u5f55ID\uff0c\u7136\u540e\u5c06\u8fd9\u4e2aID\u4f20\u5165\u63a5\u53e3\uff1b\u8fd9\u4e2aID\u5c06\u4f5c\u4e3a\u5404\u4ee3\u7406\u5546\u95f4\u8054\u7cfb\u4eba\u6a21\u677f\u6216\u57df\u540d\u89e3\u6790\u8bb0\u5f55\u7684\u552f\u4e00\u6807\u8bc6\uff0c\n\u4ee3\u7406\u5546\u53ef\u5229\u7528\u8fd9\u4e00\u552f\u4e00\u6807\u8bc6\u6765\u64cd\u4f5c\u8054\u7cfb\u4eba\u6a21\u677f\u6216\u57df\u540d\u89e3\u6790\u8bb0\u5f55\uff0c\u5373\u5728\u8bbf\u95ee\u8054\u7cfb\u4eba\u6a21\u677f\u6216\u57df\u540d\u89e3\u6790\u8bb0\u5f55\u7684\u6dfb\u3001\u5220\u3001\u6539\u3001\u67e5\u63a5\u53e3\u65f6\uff0c\n\u4f20\u5165\u8fd9\u4e00\u53c2\u6570\u5c31\u53ef\u5b9e\u73b0\u5bf9ID\u5bf9\u5e94\u7684\u6a21\u677f\u6216\u8bb0\u5f55\u7684\u76f8\u5173\u64cd\u4f5c\u3002<br/>\n<br/>\n5.\u8df3\u8f6c\u81f3WEB\u7aef\u57df\u540d\u63a7\u5236\u9762\u677f<br/>&nbsp;&nbsp;\nURL\uff1a/panel/dashboard?keyword=test.cn&token=12df62dd1b52a8aaaaaaa9c1e4af09c3ba431 <br/>\n\u53c2\u6570\u8bf4\u660e\uff1a<br/>\n\n\u53d8\u91cf\u540d | \u8bf4\u660e | \u6837\u4f8b\n----|----|---\nkeyword  |  \u57df\u540d  |  test.cn\ntoken  |  \u8bbf\u95ee\u63a5\u53e3access-token  |   12df62dd1b52a8aaaaaaa9c1e4af09c3ba431\n<br/>\n6.\u53c2\u6570\u7f16\u7801\u8bf4\u660e <br/>\n&nbsp;&nbsp;\u6240\u6709\u4f20\u8f93\u7684\u53c2\u6570\u90fd\u9700\u7ecf\u8fc7 URL \u7f16\u7801&nbsp;&nbsp;\n<br/>\n7.\u516c\u5171\u8bf7\u6c42\u53c2\u6570\n\n\u5934\u90e8 | \u503c\n----|----\nContent-Type  | multipart/form-data\n<br>\n8.\u516c\u5171\u54cd\u5e94\u6d88\u606f\n\n\u6d88\u606f HTTP\u72b6\u6001\u7801 | \u8bf4\u660e | \u54cd\u5e94\u7684\u6837\u4f8b\n----|----|---\n200  | \u8fd4\u56de\u4e1a\u52a1\u4fe1\u606f | {}\n403  | \u6b64\u57df\u540d\u4e0d\u5b58\u5728\u6216\u65e0\u6743\u64cd\u4f5c | {}\n412  | signature \u9a8c\u8bc1\u5931\u8d25 | {}\n418  | Epp \u903b\u8f91\u9519\u8bef | {}\n422  | \u53c2\u6570\u9a8c\u8bc1\u9519\u8bef | {}\n500  | \u670d\u52a1\u5668\u5185\u90e8\u9519\u8bef | {}\n512  | \u670d\u52a1\u5668\u8fd0\u884c\u65f6\u9519\u8bef | {}\n<br/>",
        "version": "1.0.0"
    },
    "host": "dms.10.com/",
    "basePath": "api/v1",
    "schemes": [
        "http"
    ],
    "produces": [
        "application/json"
    ],
    "paths": {
        "/agent/analysis-record/{id}": {
            "get": {
                "tags": [
                    "agent/analysis-record"
                ],
                "summary": "\u67e5\u8be2\u57df\u540d\u89e3\u6790\u8bb0\u5f55",
                "description": "\n    \u72b6\u6001\u7801 status \u8bf4\u660e\n\u5e38\u91cf | \u8bf4\u660e\n----|----\nSTATUS_ENABLE | \u542f\u7528\u72b6\u6001\nSTATUS_DISABLE | \u7981\u7528\u72b6\u6001\n<br/>",
                "operationId": "show",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "\u4ee3\u7406\u5546\u672c\u5730\u552f\u4e00\u57df\u540d\u89e3\u6790\u8bb0\u5f55ID",
                        "required": true,
                        "type": "integer"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "\u5f97\u5230\u57df\u540d\u89e3\u6790\u8bb0\u5f55",
                        "schema": {
                            "type": "array",
                            "example": {
                                "code": 200,
                                "msg": "\u83b7\u53d6\u57df\u540d\u89e3\u6790\u8bb0\u5f55\u6210\u529f\uff01",
                                "data": {
                                    "id": 1,
                                    "record_type": "A",
                                    "sub_domain": "www",
                                    "record_value": "11.11.11.11",
                                    "record_id": "2",
                                    "mx": "1",
                                    "ttl": "10",
                                    "status": "STATUS_ENABLE"
                                }
                            }
                        }
                    },
                    "409": {
                        "description": "\u57df\u540d\u89e3\u6790\u8bb0\u5f55\u4e0d\u5b58\u5728",
                        "schema": {
                            "type": "{'code':409,'msg':'\u83b7\u53d6\u5931\u8d25\uff0c\u4e0d\u5b58\u5728\u6b64\u57df\u540d\u89e3\u6790\u8bb0\u5f55\uff01'}"
                        }
                    }
                }
            },
            "put": {
                "tags": [
                    "agent/analysis-record"
                ],
                "summary": "\u4fee\u6539\u57df\u540d\u89e3\u6790\u8bb0\u5f55",
                "operationId": "update",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "\u89e3\u6790\u8bb0\u5f55ID",
                        "required": true,
                        "type": "integer"
                    },
                    {
                        "name": "keyword",
                        "in": "formData",
                        "description": "\u57df\u540d\u540d\u79f0",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "sub_domain",
                        "in": "formData",
                        "description": "\u4e3b\u673a\u5934",
                        "type": "string"
                    },
                    {
                        "name": "dns_line_id",
                        "in": "formData",
                        "description": "\u89e3\u6790\u8bb0\u5f55\u7ebf\u8defid\n     * \u901a\u8fc7\u63a5\u53e3/agent/analysis-record/line \u83b7\u5f97dns_line_id",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "record_type",
                        "in": "formData",
                        "description": "\u57df\u540d\u89e3\u6790\u8bb0\u5f55\u7c7b\u578b (A,AAAA,CNAME,MX,NS,SRV,TXT)",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "record_value",
                        "in": "formData",
                        "description": "\u89e3\u6790\u5185\u5bb9",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "ttl",
                        "in": "formData",
                        "description": "\u751f\u5b58\u65f6\u95f4 (600-604800)",
                        "required": true,
                        "type": "integer"
                    },
                    {
                        "name": "mx",
                        "in": "formData",
                        "description": "\u4f18\u5148\u7ea7 (1-20)",
                        "required": false,
                        "type": "integer"
                    },
                    {
                        "name": "status",
                        "in": "formData",
                        "description": "\u72b6\u6001 (0\u542f\u7528 1\u7981\u7528)",
                        "required": false,
                        "type": "integer"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "\u4fee\u6539\u57df\u540d\u89e3\u6790\u8bb0\u5f55\u6210\u529f",
                        "schema": {
                            "type": "array",
                            "example": {
                                "code": 200,
                                "msg": "\u4fee\u6539\u6b64\u57df\u540d\u89e3\u6790\u8bb0\u5f55\u6210\u529f\uff01"
                            }
                        }
                    },
                    "409": {
                        "description": "\u57df\u540d\u89e3\u6790\u8bb0\u5f55\u4e0d\u5b58\u5728",
                        "schema": {
                            "type": "{'code':409,'msg':'\u4fee\u6539\u5931\u8d25\uff0c\u4e0d\u5b58\u5728\u6b64\u57df\u540d\u89e3\u6790\u8bb0\u5f55\uff01'}"
                        }
                    }
                }
            },
            "delete": {
                "tags": [
                    "agent/analysis-record"
                ],
                "summary": "\u5220\u9664\u57df\u540d\u89e3\u6790\u8bb0\u5f55",
                "operationId": "destroy",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "\u89e3\u6790\u8bb0\u5f55ID",
                        "required": true,
                        "type": "integer"
                    },
                    {
                        "name": "keyword",
                        "in": "formData",
                        "description": "\u57df\u540d\u540d\u79f0",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "\u5220\u9664\u89e3\u6790\u8bb0\u5f55\u6210\u529f",
                        "schema": {
                            "type": "array",
                            "example": {
                                "code": 200,
                                "msg": "\u5220\u9664\u6b64\u57df\u540d\u89e3\u6790\u8bb0\u5f55\u6210\u529f\uff01"
                            }
                        }
                    },
                    "409": {
                        "description": "\u89e3\u6790\u8bb0\u5f55\u4e0d\u5b58\u5728",
                        "schema": {
                            "type": "{'code':409,'msg':'\u5220\u9664\u5931\u8d25\uff0c\u4e0d\u5b58\u5728\u6b64\u57df\u540d\u89e3\u6790\u8bb0\u5f55\uff01'}"
                        }
                    }
                }
            }
        },
        "/agent/analysis-record": {
            "get": {
                "tags": [
                    "agent/analysis-record"
                ],
                "summary": "\u83b7\u53d6\u57df\u540d\u5bf9\u5e94\u4e0b\u6240\u6709\u7684\u89e3\u6790\u8bb0\u5f55",
                "description": "\n    \u72b6\u6001\u7801 status \u8bf4\u660e\n\u5e38\u91cf | \u8bf4\u660e\n----|----\nSTATUS_ENABLE | \u542f\u7528\u72b6\u6001\nSTATUS_DISABLE | \u7981\u7528\u72b6\u6001\n<br/>",
                "operationId": "index",
                "parameters": [
                    {
                        "name": "keyword",
                        "in": "query",
                        "description": "\u57df\u540d\u540d\u79f0",
                        "required": true,
                        "type": "integer"
                    },
                    {
                        "name": "limit",
                        "in": "query",
                        "description": "\u8fd4\u56de\u8bb0\u5f55\u7684\u6570\u91cf\uff0c\u9ed8\u8ba4\u8fd4\u56de20\u6761",
                        "required": false,
                        "type": "integer"
                    },
                    {
                        "name": "offset",
                        "in": "query",
                        "description": "\u8fd4\u56de\u8bb0\u5f55\u7684\u5f00\u59cb\u4f4d\u7f6e\uff0c\u9ed8\u8ba4\u5f00\u59cb\u4f4d\u7f6e\u4e3a1",
                        "required": false,
                        "type": "integer"
                    },
                    {
                        "name": "sort",
                        "in": "query",
                        "description": "\u8fd4\u56de\u8bb0\u5f55\u7684\u6392\u5e8f\u89c4\u5219\uff0c\u5982sort='id,name'\uff0c\u9ed8\u8ba4\u6392\u5e8f\u89c4\u5219\u4e3a\u4e3b\u952e\u5b57\u6bb5",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "order",
                        "in": "query",
                        "description": "\u8fd4\u56de\u8bb0\u5f55\u7684\u6392\u5e8f\u65b9\u5411(0 desc\u964d\u5e8f\u30011 asc\u5347\u5e8f)\uff0c\u5982order='1,1'\uff0c\u9ed8\u8ba4\u6392\u5e8f\u65b9\u5411\u4e3a\u5347\u5e8f",
                        "required": false,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "\u5f97\u5230\u6240\u6709\u7684\u57df\u540d\u89e3\u6790\u8bb0\u5f55\uff0c\u4e0d\u5b58\u5728\u4efb\u4f55\u89e3\u6790\u8bb0\u5f55\u65f6\uff0cdata\u5b57\u6bb5\u4e3a\u7a7a\u6570\u7ec4",
                        "schema": {
                            "type": "array",
                            "example": {
                                "code": 200,
                                "msg": "\u83b7\u53d6\u57df\u540d\u89e3\u6790\u8bb0\u5f55\u6210\u529f\uff01",
                                "data": [
                                    {
                                        "id": 1,
                                        "domain_id": "1",
                                        "record_type": "A",
                                        "sub_domain": "www",
                                        "record_value": "ip:11.11.11.11",
                                        "record_id": "2",
                                        "mx": "1",
                                        "ttl": "10",
                                        "status": "STATUS_DISABLE",
                                        "dns_line_id": "2"
                                    },
                                    {
                                        "id": 1,
                                        "domain_id": "1",
                                        "record_type": "A",
                                        "sub_domain": "www",
                                        "record_value": "ip:11.11.11.11",
                                        "record_id": "2",
                                        "mx": "1",
                                        "ttl": "10",
                                        "status": "STATUS_DISABLE",
                                        "dns_line_id": "2"
                                    },
                                    {
                                        "id": 1,
                                        "domain_id": "1",
                                        "record_type": "A",
                                        "sub_domain": "www",
                                        "record_value": "ip:11.11.11.11",
                                        "record_id": "2",
                                        "mx": "1",
                                        "ttl": "10",
                                        "status": "STATUS_DISABLE",
                                        "dns_line_id": "2"
                                    }
                                ]
                            }
                        }
                    }
                }
            },
            "post": {
                "tags": [
                    "agent/analysis-record"
                ],
                "summary": "\u6dfb\u52a0\u57df\u540d\u89e3\u6790\u8bb0\u5f55",
                "operationId": "store",
                "parameters": [
                    {
                        "name": "keyword",
                        "in": "formData",
                        "description": "\u57df\u540d\u540d\u79f0",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "record_type",
                        "in": "formData",
                        "description": "\u57df\u540d\u89e3\u6790\u8bb0\u5f55\u7c7b\u578b (A,AAAA,CNAME,MX,NS,SRV,TXT)",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "record_value",
                        "in": "formData",
                        "description": "\u89e3\u6790\u5185\u5bb9",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "sub_domain",
                        "in": "formData",
                        "description": "\u4e3b\u673a\u5934",
                        "type": "string"
                    },
                    {
                        "name": "dns_line_id",
                        "in": "formData",
                        "description": "\u89e3\u6790\u7ebf\u8defid\n     * \u901a\u8fc7\u63a5\u53e3/agent/analysis-record/line \u83b7\u5f97dns_line_id",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "ttl",
                        "in": "formData",
                        "description": "\u751f\u5b58\u65f6\u95f4 (600-604800)",
                        "required": false,
                        "type": "integer"
                    },
                    {
                        "name": "mx",
                        "in": "formData",
                        "description": "\u4f18\u5148\u7ea7 (1-20)",
                        "required": false,
                        "type": "integer"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "\u6dfb\u52a0\u57df\u540d\u89e3\u6790\u8bb0\u5f55\u6210\u529f",
                        "schema": {
                            "type": "array",
                            "example": {
                                "code": 200,
                                "msg": "\u6dfb\u52a0\u57df\u540d\u89e3\u6790\u8bb0\u5f55\u6210\u529f\uff01",
                                "data": {
                                    "id": 1
                                }
                            }
                        }
                    }
                }
            }
        },
        "/agent/analysis-record/line": {
            "get": {
                "tags": [
                    "agent/analysis-record"
                ],
                "summary": "\u83b7\u53d6\u8be5\u57df\u540d\u53ef\u7528\u7684\u89e3\u6790\u7ebf\u8def",
                "operationId": "line",
                "parameters": [
                    {
                        "name": "keyword",
                        "in": "query",
                        "description": "\u57df\u540d\u540d\u79f0",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "\u83b7\u53d6\u57df\u540d\u89e3\u6790\u53ef\u7528\u7ebf\u8def\u6210\u529f",
                        "schema": {
                            "type": "array",
                            "example": {
                                "code": 200,
                                "msg": "\u83b7\u53d6\u57df\u540d\u89e3\u6790\u53ef\u7528\u7ebf\u8def\u6210\u529f\uff01",
                                "data": [
                                    {
                                        "id": 1,
                                        "name": "\u9ed8\u8ba4"
                                    },
                                    {
                                        "id": "2",
                                        "name": "\u56fd\u5185"
                                    },
                                    {
                                        "id": "3",
                                        "name": "\u7535\u4fe1"
                                    },
                                    {
                                        "id": "3",
                                        "name": "\u8054\u901a"
                                    },
                                    {
                                        "id": "4",
                                        "name": "\u6709\u9053"
                                    }
                                ]
                            }
                        }
                    }
                }
            }
        },
        "/agent/analysis-record/sync": {
            "post": {
                "tags": [
                    "agent/analysis-record"
                ],
                "summary": "\u540c\u6b65\u4e0a\u6e38\u89e3\u6790\u8bb0\u5f55",
                "operationId": "line",
                "parameters": [
                    {
                        "name": "keyword",
                        "in": "query",
                        "description": "\u57df\u540d\u540d\u79f0",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "\u64cd\u4f5c\u6210\u529f",
                        "schema": {
                            "type": "array",
                            "example": {
                                "code": 200,
                                "msg": "\u64cd\u4f5c\u6210\u529f\uff01"
                            }
                        }
                    }
                }
            }
        },
        "/agent/analysis-record/status/{id}": {
            "put": {
                "tags": [
                    "agent/analysis-record"
                ],
                "summary": "\u542f\u7528\u6216\u7981\u7528\u57df\u540d\u89e3\u6790\u8bb0\u5f55",
                "operationId": "status",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "\u89e3\u6790\u8bb0\u5f55ID",
                        "required": true,
                        "type": "integer"
                    },
                    {
                        "name": "keyword",
                        "in": "formData",
                        "description": "\u57df\u540d\u540d\u79f0",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "status",
                        "in": "formData",
                        "description": "\u72b6\u6001 (0 \u542f\u7528\u30011 \u7981\u7528)",
                        "required": true,
                        "type": "integer"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "\u64cd\u4f5c\u6210\u529f",
                        "schema": {
                            "type": "array",
                            "example": {
                                "code": 200,
                                "msg": "\u64cd\u4f5c\u6210\u529f"
                            }
                        }
                    }
                }
            }
        },
        "/agent/analysis-record/upstream-status": {
            "get": {
                "tags": [
                    "agent/analysis-record"
                ],
                "summary": "\u83b7\u53d6\u4e0a\u6e38\u57df\u540d\u72b6\u6001",
                "description": "\n\u72b6\u6001\u7801 status \u8bf4\u660e\n\n\u5e38\u91cf | \u8bf4\u660e\n----|----\nENABLE | \u6b63\u5e38\nPAUSE | \u5df2\u6682\u505c\u89e3\u6790\nENABLE | \u6b63\u5e38\nSPAM | \u5df2\u88ab\u5c01\u7981\nLOCK | \u5df2\u88ab\u9501\u5b9a\nNO_RIGHT | \u65e0\u6743\u9650\n<br/>",
                "operationId": "upstreamStatus",
                "parameters": [
                    {
                        "name": "keyword",
                        "in": "query",
                        "description": "\u57df\u540d\u540d\u79f0",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "\u64cd\u4f5c\u6210\u529f",
                        "schema": {
                            "type": "array",
                            "example": {
                                "code": 200,
                                "status": "enabled",
                                "msg": "\u64cd\u4f5c\u6210\u529f\uff01"
                            }
                        }
                    }
                }
            }
        },
        "/agent/auth/access-token": {
            "get": {
                "tags": [
                    "agent/auth"
                ],
                "summary": "\u83b7\u53d6\u8bbf\u95ee token",
                "description": "\n    \u4e1a\u52a1\u6807\u793a\u7801\u89c4\u5219\u8bf4\u660e(\u4e1a\u52a1\u7c7b\u578b:\u4e1a\u52a1\u53c2\u6570)\ncode \u503c | \u8bf4\u660e\n----|----\npanel:example.cn  | \u57df\u540d\u63a7\u5236\u9762\u677f\u4e1a\u52a1\u5173\u952e\u5b57:\u9700\u8981\u64cd\u4f5c\u7684\u57df\u540d\n",
                "operationId": "access-token",
                "parameters": [
                    {
                        "name": "code",
                        "in": "query",
                        "description": "\u4e1a\u52a1\u6807\u793a\u7801",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "\u83b7\u53d6 token \u6210\u529f",
                        "schema": {
                            "type": "array",
                            "example": {
                                "code": 200,
                                "msg": "\u83b7\u53d6 token \u6210\u529f",
                                "data": {
                                    "access_token": "a28b885f79c7d47fe3a260414d257ac1wfdzbk3Xrk",
                                    "expires_in": 1800
                                }
                            }
                        }
                    }
                }
            }
        },
        "/agent/contact/info": {
            "get": {
                "tags": [
                    "agent/contact"
                ],
                "summary": "\u83b7\u53d6\u57df\u540d\u4fe1\u606f",
                "description": "\n    \u72b6\u6001\u7801 status \u8bf4\u660e\n\u5e38\u91cf | \u8bf4\u660e\n----|----\nSTATUS_LOCAL_UPLOAD_MATERIAL_NO | \u672a\u4e0a\u4f20\u8bc1\u4ef6 | 0\nSTATUS_LOCAL_UPLOAD_MATERIAL_YES | \u5df2\u4e0a\u4f20\u8bc1\u4ef6\u5230\u672c\u5730 | 1\nSTATUS_CREATE_YES | \u5df2\u6ce8\u518c | 2\nSTATUS_UPLOAD_MATERIAL_YES | \u5df2\u4e0a\u4f20\u8bc1\u4ef6 | 3\nSTATUS_VALIDATE_FAILURE | \u5ba1\u6838\u672a\u901a\u8fc7 | 4\nSTATUS_VALIDATE_AUTHENTICATED | \u5ba1\u6838\u901a\u8fc7 | 5\nSTATUS_HAS_INCIDENCE_RELATION | \u5df2\u5173\u8054\u5173\u7cfb | 6\nSTATUS_NOT_NEED_REALNAME | \u65e0\u9700\u5b9e\u540d\u5236 | 7\nSTATUS_MANUAL_OPERATION | \u4eba\u5de5\u63d0\u4ea4 | 8\nSTATUS_MANUAL_OPERATION_ALREADY | \u5df2\u4eba\u5de5\u63d0\u4ea4\u8bc1\u4ef6 | 9\n\n    \u8054\u7cfb\u4eba\u7c7b\u578b contact_type \u8bf4\u660e\n\u5e38\u91cf | \u8bf4\u660e\n----|----\nCONTACT_TYPE_REGISTER | \u57df\u540d\u6240\u6709\u8005 | 0\nCONTACT_TYPE_ADMIN | \u7ba1\u7406\u8054\u7cfb\u4eba | 1\nCONTACT_TYPE_FINANCE | \u4ed8\u8d39\u8054\u7cfb\u4eba | 2\nCONTACT_TYPE_TECH  | \u6280\u672f\u8054\u7cfb\u4eba | 3\n<br/>",
                "operationId": "info",
                "parameters": [
                    {
                        "name": "keyword",
                        "in": "query",
                        "description": "\u57df\u540d\u540d\u79f0",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "contact_type",
                        "in": "query",
                        "description": "\u8054\u7cfb\u4eba\u7c7b\u578b(\u5982 CONTACT_TYPE_REGISTER)",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "\u5f97\u5230\u5bf9\u5e94\u7684\u8054\u7cfb\u4eba\u4fe1\u606f",
                        "schema": {
                            "type": "array",
                            "example": {
                                "code": 200,
                                "msg": "\u83b7\u53d6\u8054\u7cfb\u4eba\u4fe1\u606f\u6210\u529f\uff01",
                                "data": {
                                    "id": 1,
                                    "cn_name": "\u9ec4\u660e",
                                    "en_name": "minghuang",
                                    "contact_type": "CONTACT_TYPE_REGISTER",
                                    "country_id": "86",
                                    "province_id": "130000",
                                    "city_id": "130200",
                                    "area_id": "45",
                                    "cn_street": "\u53a6\u79be\u8def844\u53f7\u4e2d\u53a6\u56fd\u9645\u5927\u53a617\u697c",
                                    "mobile": "18259164850",
                                    "fax": "086|0592|1234567",
                                    "voice": "0592-123456",
                                    "user_region": "D",
                                    "org_type": "I",
                                    "en_street": "The 17 floor of International Building No. 844 Xiamen Xiahe Road",
                                    "email": "minghuang@xmisp.com",
                                    "pc": "519000",
                                    "verification_status": "VERIFICATION_STATUS_FAILURE",
                                    "verification_reason": "\u4e0a\u4f20\u8eab\u4efd\u8d44\u6599\u6a21\u7cca\u4e0d\u6e05\uff01"
                                }
                            }
                        }
                    },
                    "409": {
                        "description": "\u8054\u7cfb\u4eba\u4fe1\u606f\u4e0d\u5b58\u5728",
                        "schema": {
                            "type": "{'code':409,'msg':'\u83b7\u53d6\u5931\u8d25\uff0c\u4e0d\u5b58\u5728\u4e0e\u6b64\u57df\u540d\u76f8\u5173\u8054\u7684\u8054\u7cfb\u4eba\u4fe1\u606f\uff01'}"
                        }
                    }
                }
            }
        },
        "/agent/contact/update": {
            "put": {
                "tags": [
                    "agent/contact"
                ],
                "summary": "\u66f4\u65b0\u8054\u7cfb\u4eba",
                "description": "\u5982\u679c\u57df\u540d\u6240\u6709\u8005\u6027\u8d28\u7c7b\u578b\u4e3a\u4f01\u4e1a\u5219 id_type\u3001id_img\u3001org_type\u3001org_proof_type\u3001org_img \u90fd\u4e3a\u5fc5\u586b\uff1b\u5982\u679c\u4e3a\u4e2a\u4eba\uff0cid_type\u3001id_img \u4e3a\u5fc5\u586b",
                "operationId": "update",
                "parameters": [
                    {
                        "name": "keyword",
                        "in": "formData",
                        "description": "\u57df\u540d",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "id",
                        "in": "formData",
                        "description": "\u8054\u7cfb\u4ebaID",
                        "required": true,
                        "type": "integer"
                    },
                    {
                        "name": "cn_name",
                        "in": "formData",
                        "description": "\u4e2d\u6587\u540d",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "en_name",
                        "in": "formData",
                        "description": "\u82f1\u6587\u540d",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "cn_org",
                        "in": "formData",
                        "description": "\u4e2d\u6587\u540d",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "en_org",
                        "in": "formData",
                        "description": "\u82f1\u6587\u540d",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "province_id",
                        "in": "formData",
                        "description": "\u7701\u4efdID",
                        "required": false,
                        "type": "integer"
                    },
                    {
                        "name": "city_id",
                        "in": "formData",
                        "description": "\u57ce\u5e02ID",
                        "required": false,
                        "type": "integer"
                    },
                    {
                        "name": "area_id",
                        "in": "formData",
                        "description": "\u57ce\u533aID",
                        "required": false,
                        "type": "integer"
                    },
                    {
                        "name": "cn_street",
                        "in": "formData",
                        "description": "\u4e2d\u6587\u8857\u9053\u5730\u5740\uff0c\u5c11\u4e8e50\u4f4d\u5b57\u7b26",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "en_street",
                        "in": "formData",
                        "description": "\u82f1\u6587\u8857\u9053\u5730\u5740\uff0c\u5c11\u4e8e50\u4f4d\u82f1\u6587\u5b57\u7b26",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "voice",
                        "in": "formData",
                        "description": "\u56fa\u5b9a\u7535\u8bdd\u53f7\u7801\uff0c0-17\u4e2a\u5b57\u7b26\uff0c\u683c\u5f0f\uff1a\u56fd\u9645\u533a\u53f7.\u56fd\u5185\u533a\u53f7\u7535\u8bdd\u53f7\u7801\uff0c\u5982086|0592|2222123",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "fax",
                        "in": "formData",
                        "description": "\u4f20\u771f\u53f7\u7801\uff0c0-30\u4e2a\u5b57\u7b26\uff0c\u683c\u5f0f\uff1a\u56fd\u9645\u533a\u53f7.\u56fd\u5185\u533a\u53f7\u7535\u8bdd\u53f7\u7801\uff0c\u5982086|0592|2222123",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "mobile",
                        "in": "formData",
                        "description": "\u624b\u673a\u53f7\u7801\u683c\u5f0f\uff1a086|15157366771",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "email",
                        "in": "formData",
                        "description": "\u7535\u5b50\u90ae\u7bb1\u5730\u5740\uff0c\u5c11\u4e8e30\u4f4d\u5b57\u7b26",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "pc",
                        "in": "formData",
                        "description": "\u90ae\u653f\u7f16\u7801\uff0c6\u4f4d\u6570\u5b57",
                        "required": false,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "\u4fee\u6539\u6210\u529f",
                        "schema": {
                            "type": "array",
                            "example": {
                                "code": 200,
                                "msg": "\u4fee\u6539\u8054\u7cfb\u4eba\u4fe1\u606f\u6210\u529f\uff01",
                                "data": {
                                    "contact_id": "22"
                                }
                            }
                        }
                    },
                    "409": {
                        "description": "\u8be5\u8054\u7cfb\u4eba\u4fe1\u606f\u4e0d\u5b58\u5728",
                        "schema": {
                            "type": "{'code':409,'msg':'\u4fee\u6539\u5931\u8d25\uff0c\u6b64\u8054\u7cfb\u4eba\u4fe1\u606f\u4e0d\u5b58\u5728\uff01'}"
                        }
                    },
                    "422": {
                        "description": "\u4fe1\u606f\u4e0d\u5b8c\u6574",
                        "schema": {
                            "type": "{'code':422,'msg':'\u4fee\u6539\u5931\u8d25\uff0c\u586b\u5199\u7684\u4fe1\u606f\u4e0d\u5b8c\u6574\uff01'}"
                        }
                    }
                }
            }
        },
        "/agent/contact-template/{id}": {
            "get": {
                "tags": [
                    "agent/contact-template"
                ],
                "summary": "\u83b7\u53d6\u4e00\u4e2a\u8054\u7cfb\u4eba\u6a21\u677f",
                "description": "\n    \u72b6\u6001\u7801 status \u8bf4\u660e\n\u5e38\u91cf | \u8bf4\u660e\n----|----\nVERIFICATION_STATUS_UNAUTHERIZED  | \u672a\u8ba4\u8bc1\nVERIFICATION_STATUS_PENDING  | \u5ba1\u6838\u4e2d\nVERIFICATION_STATUS_FAILURE | \u8ba4\u8bc1\u5931\u8d25\nVERIFICATION_STATUS_AUTHENTICATED  | \u5df2\u8ba4\u8bc1\nVERIFICATION_STATUS_BLACKLIST  | \u9ed1\u540d\u5355\n<br/>",
                "operationId": "show",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "\u4ee3\u7406\u5546\u672c\u5730\u552f\u4e00\u6a21\u677fID",
                        "required": true,
                        "type": "integer",
                        "maximum": 1
                    }
                ],
                "responses": {
                    "200": {
                        "description": "\u8054\u7cfb\u4eba\u6a21\u677f\u8be6\u60c5",
                        "schema": {
                            "type": "array",
                            "example": {
                                "code": 200,
                                "msg": "\u83b7\u53d6\u8054\u7cfb\u4eba\u6a21\u677f\u6210\u529f\uff01",
                                "data": {
                                    "id": 1,
                                    "agent_id": 1,
                                    "upstream_contact_id": "5z8d7q5w4d154s54",
                                    "type": "E",
                                    "cn_name": "\u8d75\u65e5\u5929",
                                    "cn_org": "\u7ea2\u5341\u5b57\u4f1a",
                                    "en_name": "red+",
                                    "voice": "059188777777",
                                    "mobile": "13111111111",
                                    "email": "ritianzhao@redplus.com",
                                    "pc": "350111",
                                    "country_id": 1,
                                    "province_id": 1,
                                    "city_id": 1,
                                    "cn_street": "\u7687\u540e\u5927\u9053",
                                    "en_province": "WideEast",
                                    "en_city": "EastWide",
                                    "en_street": "Yellow Back Big Street",
                                    "verification_status": "VERIFICATION_STATUS_PENDING"
                                }
                            }
                        }
                    },
                    "409": {
                        "description": "\u6a21\u677f\u4e0d\u5b58\u5728",
                        "schema": {
                            "type": "{'code':409,'msg':'\u83b7\u53d6\u5931\u8d25\uff0c\u6b64\u6a21\u677f\u4e0d\u5b58\u5728\uff01'}"
                        }
                    }
                }
            },
            "put": {
                "tags": [
                    "agent/contact-template"
                ],
                "summary": "\u66f4\u65b0\u8054\u7cfb\u4eba\u6a21\u677f",
                "description": "\u5982\u679c\u57df\u540d\u6240\u6709\u8005\u6027\u8d28\u7c7b\u578btype\u4e3a E \u5219type\u3001id_type\u3001id_code\u3001en_org\u3001cn_org\u4e3a\u5fc5\u586b\uff1b\u5982\u679ctype\u4e3a\u4e2a\u4eba I \u5219 type\u3001id_type\u3001id_code \u4e3a\u5fc5\u586b",
                "operationId": "update",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "\u4ee3\u7406\u5546\u672c\u5730\u552f\u4e00\u6a21\u677fID",
                        "required": true,
                        "type": "integer"
                    },
                    {
                        "name": "type",
                        "in": "formData",
                        "description": "\u57df\u540d\u6240\u6709\u8005\u6027\u8d28\u7c7b\u578b\uff08E \u4f01\u4e1a\u3001I \u4e2a\u4eba\uff09\n     * \u5982\u679c\u57df\u540d\u6240\u6709\u8005\u6027\u8d28\u7c7b\u578btype\u4e3a E \u5219type\u3001id_type\u3001id_code\u3001en_org\u3001cn_org\u4e3a\u5fc5\u586b\uff1b\n     * \u5982\u679ctype\u4e3a\u4e2a\u4eba I \u5219 type\u3001id_type\u3001id_code \u4e3a\u5fc5\u586b\n     * \uff08\u586b\u5199id_type\u3001id_code\u91cc\u7684\u4efb\u4f55\u4e00\u4e2a\u9ed8\u8ba4type\u4e3a I\uff09",
                        "required": false,
                        "type": "string",
                        "maximum": 2
                    },
                    {
                        "name": "id_type",
                        "in": "formData",
                        "description": "\u8bc1\u4ef6\u7c7b\u578b\n     * I: (SFZ \u8eab\u4efd\u8bc1\u3001HZ \u62a4\u7167\u3001JGZ \u519b\u5b98\u8bc1\u3001QT \u5176\u4ed6)\n     * E: (YYZZ \u8425\u4e1a\u6267\u7167\u3001ORG \u7ec4\u7ec7\u673a\u6784\u4ee3\u7801\u8bc1\u3001 QT \u5176\u4ed6)",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "id_code",
                        "in": "formData",
                        "description": "\u8bc1\u4ef6\u7f16\u53f7",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "cn_name",
                        "in": "formData",
                        "description": "\u8054\u7cfb\u4eba\u4e2d\u6587\u59d3\u540d(\u4ea7\u6743\u4fe1\u606f)\uff0c2-20\u4f4d\u5b57\u7b26",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "cn_org",
                        "in": "formData",
                        "description": "\u7ec4\u7ec7\u673a\u6784\u4e2d\u6587\u540d\u79f0(\u4ea7\u6743\u4fe1\u606f\uff0c\u4e2a\u4eba\u7c7b\u578b\u53ef\u4e0d\u586b)\uff0c2-64\u4f4d\u5b57\u7b26",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "en_name",
                        "in": "formData",
                        "description": "\u8054\u7cfb\u4eba\u82f1\u6587\u59d3\u540d(\u4ea7\u6743\u4fe1\u606f)\uff0c2-64\u4f4d\u5b57\u7b26",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "en_org",
                        "in": "formData",
                        "description": "\u7ec4\u7ec7\u673a\u6784\u82f1\u6587\u540d\u79f0(\u4ea7\u6743\u4fe1\u606f\uff0c\u4e2a\u4eba\u7c7b\u578b\u53ef\u4e0d\u586b)\uff0c2-64\u4f4d\u5b57\u7b26",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "voice",
                        "in": "formData",
                        "description": "\u56fa\u5b9a\u7535\u8bdd\u53f7\u7801\uff0c0-17\u4e2a\u5b57\u7b26\uff0c\u683c\u5f0f\uff1a\u56fd\u5bb6\u4ee3\u7801|\u5206\u533a\u53f7|\u7535\u8bdd\u53f7\u7801\uff0c\u5982086|0592|23356572",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "fax",
                        "in": "formData",
                        "description": "\u4f20\u771f\u53f7\u7801\uff0c0-22\u4e2a\u5b57\u7b26\uff0c\u683c\u5f0f\uff1a\u56fd\u5bb6\u4ee3\u7801|\u5206\u533a\u53f7|\u7535\u8bdd\u53f7\u7801\uff0c\u5982086|0592|23356572",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "mobile",
                        "in": "formData",
                        "description": "\u624b\u673a\u53f7\u7801\uff0c\u76ee\u524d\u53ea\u652f\u6301\u4e2d\u56fd\u533a086\u624b\u673a\u53f7\u7801\uff0c\u683c\u5f0f\uff1a\u56fd\u5bb6\u4ee3\u7801|\u624b\u673a\u53f7\uff0c\u5982086|18205989894",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "email",
                        "in": "formData",
                        "description": "\u7535\u5b50\u90ae\u7bb1\u5730\u5740\uff0c\u5c0f\u4e8e30\u4f4d\u5b57\u7b26",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "pc",
                        "in": "formData",
                        "description": "\u90ae\u653f\u7f16\u7801\uff0c6\u4f4d\u6570\u5b57",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "province_id",
                        "in": "formData",
                        "description": "\u7701\u4efd ID (\u53ef\u5728 /agent/setting/provinces \u4e2d\u83b7\u53d6)",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "city_id",
                        "in": "formData",
                        "description": "\u57ce\u5e02 ID (\u53ef\u5728 /agent/setting/cities \u4e2d\u83b7\u53d6)",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "area_id",
                        "in": "formData",
                        "description": "\u533a\u57df ID (\u53ef\u5728 /agent/setting/areas \u4e2d\u83b7\u53d6)",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "cn_street",
                        "in": "formData",
                        "description": "\u4e2d\u6587\u8857\u9053\u5730\u5740\uff0c\u5c0f\u4e8e50\u4f4d\u5b57\u7b26",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "en_street",
                        "in": "formData",
                        "description": "\u82f1\u6587\u8857\u9053\u5730\u5740\uff0c\u5c0f\u4e8e50\u4f4d\u82f1\u6587\u5b57\u7b26",
                        "required": false,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "\u4fee\u6539\u6210\u529f",
                        "schema": {
                            "type": "array",
                            "example": {
                                "code": 200,
                                "msg": "\u4fee\u6539\u8054\u7cfb\u4eba\u6a21\u677f\u6210\u529f\uff01",
                                "data": {
                                    "id": "1212"
                                }
                            }
                        }
                    },
                    "409": {
                        "description": "\u6a21\u677f\u4e0d\u5b58\u5728",
                        "schema": {
                            "type": "{'code':409,'msg':'\u4fee\u6539\u5931\u8d25\uff0c\u6b64\u6a21\u677f\u4e0d\u5b58\u5728\uff01'}"
                        }
                    },
                    "422": {
                        "description": "\u4fe1\u606f\u4e0d\u5b8c\u6574",
                        "schema": {
                            "type": "{'code':422,'msg':'\u4fee\u6539\u5931\u8d25\uff0c\u586b\u5199\u7684\u4fe1\u606f\u4e0d\u5b8c\u6574\uff01'}"
                        }
                    }
                }
            },
            "delete": {
                "tags": [
                    "agent/contact-template"
                ],
                "summary": "\u5220\u9664\u4e00\u4e2a\u8054\u7cfb\u4eba\u6a21\u677f",
                "operationId": "destroy",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "\u4ee3\u7406\u5546\u672c\u5730\u552f\u4e00\u6a21\u677fID",
                        "required": true,
                        "type": "integer",
                        "maximum": 1
                    }
                ],
                "responses": {
                    "200": {
                        "description": "\u5220\u9664\u6210\u529f",
                        "schema": {
                            "type": "array",
                            "example": {
                                "code": 200,
                                "msg": "\u5220\u9664\u8054\u7cfb\u4eba\u6a21\u677f\u6210\u529f\uff01"
                            }
                        }
                    },
                    "409": {
                        "description": "\u6a21\u677f\u4e0d\u5b58\u5728",
                        "schema": {
                            "type": "{'code':409,'msg':'\u5220\u9664\u5931\u8d25\uff0c\u6b64\u6a21\u677f\u4e0d\u5b58\u5728\uff01'}"
                        }
                    }
                }
            }
        },
        "/agent/contact-template": {
            "get": {
                "tags": [
                    "agent/contact-template"
                ],
                "summary": "\u83b7\u53d6\u6240\u6709\u8054\u7cfb\u4eba\u6a21\u677f",
                "description": "\n     \u72b6\u6001\u7801 status \u8bf4\u660e\n\u5e38\u91cf | \u8bf4\u660e\n----|----\nVERIFICATION_STATUS_UNAUTHERIZED  | \u672a\u8ba4\u8bc1\nVERIFICATION_STATUS_PENDING  | \u5ba1\u6838\u4e2d\nVERIFICATION_STATUS_FAILURE | \u8ba4\u8bc1\u5931\u8d25\nVERIFICATION_STATUS_AUTHENTICATED  | \u5df2\u8ba4\u8bc1\nVERIFICATION_STATUS_BLACKLIST  | \u9ed1\u540d\u5355\n<br/>",
                "operationId": "index",
                "parameters": [
                    {
                        "name": "match_con",
                        "in": "query",
                        "description": "cn_name\u548ccn_org\u6a21\u7cca\u641c\u7d22",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "limit",
                        "in": "query",
                        "description": "\u8fd4\u56de\u6a21\u677f\u7684\u6570\u91cf\uff0c\u9ed8\u8ba4\u8fd4\u56de20\u6761",
                        "required": false,
                        "type": "integer"
                    },
                    {
                        "name": "offset",
                        "in": "query",
                        "description": "\u8fd4\u56de\u6a21\u677f\u7684\u5f00\u59cb\u4f4d\u7f6e\uff0c\u9ed8\u8ba4\u5f00\u59cb\u4f4d\u7f6e\u4f4d1",
                        "required": false,
                        "type": "integer"
                    },
                    {
                        "name": "sort",
                        "in": "query",
                        "description": "\u8fd4\u56de\u6a21\u677f\u7684\u6392\u5e8f\u89c4\u5219\uff0c\u5982sort='id,name'(\u4e0eorder\u4e00\u4e00\u5bf9\u5e94)\uff0c\u9ed8\u8ba4\u6392\u5e8f\u89c4\u5219\u4e3a\u4e3b\u952e\u5b57\u6bb5 , \u591a\u4e2a\u5b57\u6bb5\u8fdb\u884c\u591a\u91cd\u6392\u5e8f\u65f6\u7528\u9017\u53f7\u9694\u5f00",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "order",
                        "in": "query",
                        "description": "\u8fd4\u56de\u6a21\u677f\u7684\u6392\u5e8f\u65b9\u5411(0 desc\u964d\u5e8f\u30011 asc\u5347\u5e8f)\uff0c\u5982order='1,1'\uff0c\u9ed8\u8ba4\u6392\u5e8f\u65b9\u5411\u4e3a\u5347\u5e8f , \u591a\u91cd\u6392\u5e8f\u65f6\u7528\u9017\u53f7\u9694\u5f00",
                        "required": false,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "\u5f97\u5230\u6240\u6709\u8054\u7cfb\u4eba\u6a21\u677f\uff0c\u4e0d\u5b58\u5728\u4efb\u4f55\u6a21\u677f\u65f6\uff0cdata\u5b57\u6bb5\u4e3a\u7a7a\u6570\u7ec4",
                        "schema": {
                            "type": "array",
                            "example": {
                                "code": 200,
                                "msg": "\u83b7\u53d6\u8054\u7cfb\u4eba\u6a21\u677f\u6210\u529f\uff01",
                                "data": [
                                    {
                                        "id": 1,
                                        "agent_id": 1,
                                        "upstream_contact_id": "5z8d7q5w4d154s54",
                                        "type": "E",
                                        "cn_name": "\u8d75\u65e5\u5929",
                                        "cn_org": "\u7ea2\u5341\u5b57\u4f1a",
                                        "en_name": "red+",
                                        "voice": "059188777777",
                                        "mobile": "13111111111",
                                        "email": "ritianzhao@redplus.com",
                                        "pc": "350111",
                                        "country_id": 1,
                                        "province_id": 1,
                                        "city_id": 1,
                                        "cn_street": "\u7687\u540e\u5927\u9053",
                                        "en_province": "WideEast",
                                        "en_city": "EastWide",
                                        "en_street": "Yellow Back Big Street",
                                        "verification_status": "VERIFICATION_STATUS_PENDING"
                                    },
                                    {
                                        "id": 2,
                                        "agent_id": 2,
                                        "upstream_contact_id": "5dda5878wsd5487d",
                                        "type": "E",
                                        "cn_name": "\u8d75\u65e5\u5929",
                                        "cn_org": "\u7ea2\u5341\u5b57\u4f1a",
                                        "en_name": "red+",
                                        "voice": "059188777777",
                                        "mobile": "13111111111",
                                        "email": "ritianzhao@redplus.com",
                                        "pc": "350111",
                                        "country_id": 1,
                                        "province_id": 1,
                                        "city_id": 1,
                                        "cn_street": "\u7687\u540e\u5927\u9053",
                                        "en_province": "WideEast",
                                        "en_city": "EastWide",
                                        "en_street": "Yellow Back Big Street",
                                        "verification_status": "VERIFICATION_STATUS_PENDING"
                                    }
                                ]
                            }
                        }
                    }
                }
            },
            "post": {
                "tags": [
                    "agent/contact-template"
                ],
                "summary": "\u6dfb\u52a0\u8054\u7cfb\u4eba\u6a21\u677f",
                "operationId": "store",
                "parameters": [
                    {
                        "name": "id",
                        "in": "formData",
                        "description": "\u4ee3\u7406\u5546\u672c\u5730\u552f\u4e00\u6a21\u677fID",
                        "required": true,
                        "type": "integer"
                    },
                    {
                        "name": "type",
                        "in": "formData",
                        "description": "\u57df\u540d\u6240\u6709\u8005\u6027\u8d28\u7c7b\u578b\uff08E \u4f01\u4e1a\u3001I \u4e2a\u4eba\uff09",
                        "required": false,
                        "type": "string",
                        "maximum": 2
                    },
                    {
                        "name": "id_type",
                        "in": "formData",
                        "description": "\u8bc1\u4ef6\u7c7b\u578b (\u7528\u4e8e\u6ce8\u518c\u65f6\uff0c\u5fc5\u586b)\n     * I: (SFZ \u8eab\u4efd\u8bc1\u3001HZ \u62a4\u7167\u3001JGZ \u519b\u5b98\u8bc1\u3001QT \u5176\u4ed6)\n     * E: (YYZZ \u8425\u4e1a\u6267\u7167\u3001ORG \u7ec4\u7ec7\u673a\u6784\u4ee3\u7801\u8bc1\u3001 QT \u5176\u4ed6)",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "id_code",
                        "in": "formData",
                        "description": "\u8bc1\u4ef6\u7f16\u53f7 (\u7528\u4e8e\u6ce8\u518c\u65f6\uff0c\u5fc5\u586b)",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "cn_name",
                        "in": "formData",
                        "description": "\u8054\u7cfb\u4eba\u4e2d\u6587\u59d3\u540d(\u4ea7\u6743\u4fe1\u606f)\uff0c2-20\u4f4d\u5b57\u7b26",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "cn_org",
                        "in": "formData",
                        "description": "\u7ec4\u7ec7\u673a\u6784\u4e2d\u6587\u540d\u79f0(\u4ea7\u6743\u4fe1\u606f\uff0c\u4e2a\u4eba\u7c7b\u578b\u65e0\u9700\u586b\u5199)\uff0c2-64\u4f4d\u5b57\u7b26",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "en_name",
                        "in": "formData",
                        "description": "\u8054\u7cfb\u4eba\u82f1\u6587\u59d3\u540d(\u4ea7\u6743\u4fe1\u606f)\uff0c2-64\u4f4d\u5b57\u7b26",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "en_org",
                        "in": "formData",
                        "description": "\u7ec4\u7ec7\u673a\u6784\u82f1\u6587\u540d\u79f0(\u4ea7\u6743\u4fe1\u606f\uff0c\u4e2a\u4eba\u7c7b\u578b\u65e0\u9700\u586b\u5199)\uff0c2-64\u4f4d\u5b57\u7b26",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "voice",
                        "in": "formData",
                        "description": "\u56fa\u5b9a\u7535\u8bdd\u53f7\u7801\uff0c0-17\u4e2a\u5b57\u7b26\uff0c\u683c\u5f0f\uff1a\u56fd\u5bb6\u4ee3\u7801|\u5206\u533a\u53f7|\u7535\u8bdd\u53f7\u7801\uff0c\u5982086|0592|23356572",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "fax",
                        "in": "formData",
                        "description": "\u4f20\u771f\u53f7\u7801\uff0c0-22\u4e2a\u5b57\u7b26\uff0c\u683c\u5f0f\uff1a\u56fd\u5bb6\u4ee3\u7801|\u5206\u533a\u53f7|\u7535\u8bdd\u53f7\u7801\uff0c\u5982086|0592|23356572",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "mobile",
                        "in": "formData",
                        "description": "\u624b\u673a\u53f7\u7801\uff0c\u76ee\u524d\u53ea\u652f\u6301\u4e2d\u56fd\u533a086\u624b\u673a\u53f7\u7801\uff0c\u683c\u5f0f\uff1a\u56fd\u5bb6\u4ee3\u7801|\u624b\u673a\u53f7\uff0c\u5982086|18205989894",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "email",
                        "in": "formData",
                        "description": "\u7535\u5b50\u90ae\u7bb1\u5730\u5740\uff0c\u5927\u4e8e6\u4f4d\u5c0f\u4e8e30\u4f4d\u5b57\u7b26",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "pc",
                        "in": "formData",
                        "description": "\u90ae\u653f\u7f16\u7801\uff0c6\u4f4d\u6570\u5b57",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "province_id",
                        "in": "formData",
                        "description": "\u7701\u4efd ID (\u53ef\u5728 /agent/setting/provinces \u4e2d\u83b7\u53d6)",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "city_id",
                        "in": "formData",
                        "description": "\u57ce\u5e02 ID (\u53ef\u5728 /agent/setting/cities \u4e2d\u83b7\u53d6)",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "area_id",
                        "in": "formData",
                        "description": "\u533a\u57df ID (\u53ef\u5728 /agent/setting/areas \u4e2d\u83b7\u53d6)",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "cn_street",
                        "in": "formData",
                        "description": "\u4e2d\u6587\u8857\u9053\u5730\u5740\uff0c\u5c0f\u4e8e64\u4f4d\u5b57\u7b26",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "en_street",
                        "in": "formData",
                        "description": "\u82f1\u6587\u8857\u9053\u5730\u5740\uff0c\u5c0f\u4e8e400\u4f4d\u82f1\u6587\u5b57\u7b26",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "\u6dfb\u52a0\u6210\u529f",
                        "schema": {
                            "type": "array",
                            "example": {
                                "code": 200,
                                "msg": "\u521b\u5efa\u8054\u7cfb\u4eba\u6a21\u677f\u6210\u529f\uff01",
                                "data": {
                                    "id": "1251"
                                }
                            }
                        }
                    },
                    "423": {
                        "description": "\u6a21\u677f\u5df2\u5b58\u5728",
                        "schema": {
                            "type": "{'code':423,'msg':'\u8be5\u8054\u7cfb\u4eba\u6a21\u677fID\u5df2\u5b58\u5728\uff01'}"
                        }
                    }
                }
            }
        },
        "/agent/contact-template/material/{id}": {
            "get": {
                "tags": [
                    "agent/contact-template"
                ],
                "summary": "\u83b7\u53d6\u6a21\u677f\u8bc1\u4ef6\u552f\u4e00\u6807\u5fd7\u4e32",
                "operationId": "material",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "\u4ee3\u7406\u5546\u672c\u5730\u552f\u4e00\u6a21\u677fID",
                        "required": true,
                        "type": "integer"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "\u83b7\u53d6\u8bc1\u4ef6\u552f\u4e00\u6807\u5fd7\u4e32\u6210\u529f",
                        "schema": {
                            "type": "array",
                            "example": {
                                "code": 200,
                                "msg": "\u83b7\u53d6\u6210\u529f",
                                "data": {
                                    "id_img": "contact_template_id_img_1001",
                                    "org_img": "contact_template_org_img_1001"
                                }
                            }
                        }
                    },
                    "409": {
                        "description": "\u6a21\u677f\u4e0d\u5b58\u5728",
                        "schema": {
                            "type": "{'code':409,'msg':'\u6a21\u677f\u4e0d\u5b58\u5728\uff0c\u83b7\u53d6\u6a21\u677f\u8bc1\u4ef6\u6807\u5fd7\u4e32\u5931\u8d25'}"
                        }
                    }
                }
            },
            "put": {
                "tags": [
                    "agent/contact-template"
                ],
                "summary": "\u66f4\u65b0\u8054\u7cfb\u4eba\u6a21\u677f\u8bc1\u4ef6\u6750\u6599(OSS\u5bf9\u8c61)",
                "operationId": "uploadMaterial",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "\u4ee3\u7406\u5546\u672c\u5730\u552f\u4e00\u6a21\u677fID",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "id_type",
                        "in": "formData",
                        "description": "\u8eab\u4efd\u8bc1\u7c7b\u578b(SFZ \u8eab\u4efd\u8bc1\u3001 HZ \u62a4\u7167\u3001 JGZ \u519b\u5b98\u8bc1\u3001 QT \u5176\u4ed6)",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "id_code",
                        "in": "formData",
                        "description": "\u8bc1\u4ef6\u53f7\u7801",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "id_img_business_id",
                        "in": "formData",
                        "description": "\u8eab\u4efd\u8bc1\u660e\u6750\u6599\n     * \u503c\u4e3aOSS\u4e2d\u7684\u552f\u4e00\u6807\u5fd7\u4e32",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "org_code",
                        "in": "formData",
                        "description": "\u7ec4\u7ec7\u8bc1\u660e\u7f16\u53f7",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "org_img_business_id",
                        "in": "formData",
                        "description": "\u7ec4\u7ec7\u8bc1\u660e\u6750\u6599,\u503c\u4e3aOSS\u4e2d\u7684\u552f\u4e00\u6807\u5fd7\u4e32\n     * \u82e5\u6a21\u677f\u4e3a\u4f01\u4e1a\u7c7b\u578b\uff0c\u5219\u6b64\u9879\u5fc5\u586b",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "org_proof_type",
                        "in": "formData",
                        "description": "\u7ec4\u7ec7\u8bc1\u660e\u7c7b\u578b(YYZZ \u8425\u4e1a\u6267\u7167\u3001 ORG \u7ec4\u7ec7\u673a\u6784\u4ee3\u7801\u8bc1\u3001 QT \u5176\u4ed6)\n     * \u82e5\u6a21\u677f\u4e3a\u4f01\u4e1a\u7c7b\u578b\uff0c\u5219\u6b64\u9879\u5fc5\u586b",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "org_type",
                        "in": "formData",
                        "description": "\u4f01\u4e1a\u7c7b\u578b(PR \u4e2a\u4f53\u3001 PU \u5de5\u5546)",
                        "required": false,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "\u4e0a\u4f20\u8bc1\u4ef6\u6210\u529f",
                        "schema": {
                            "type": "array",
                            "example": {
                                "code": 200,
                                "msg": "\u4e0a\u4f20\u8bc1\u4ef6\u6210\u529f\uff0c\u6b63\u5728\u5ba1\u6838\u4e2d\uff01"
                            }
                        }
                    },
                    "409": {
                        "description": "\u6a21\u677f\u4e0d\u5b58\u5728",
                        "schema": {
                            "type": "{'code':409,'msg':'\u6a21\u677f\u4e0d\u5b58\u5728\uff0c\u4e0a\u4f20\u8bc1\u4ef6\u5931\u8d25\uff01'}"
                        }
                    }
                }
            }
        },
        "/agent/contact-template/upload-material": {
            "post": {
                "tags": [
                    "agent/contact-template"
                ],
                "summary": "\u8054\u7cfb\u4eba\u6a21\u677f\u8bc1\u4ef6\u4e0a\u4f20",
                "operationId": "uploadMaterial",
                "parameters": [
                    {
                        "name": "id",
                        "in": "formData",
                        "description": "\u4ee3\u7406\u5546\u672c\u5730\u552f\u4e00\u6a21\u677fID",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "id_type",
                        "in": "formData",
                        "description": "\u8eab\u4efd\u8bc1\u7c7b\u578b(SFZ \u8eab\u4efd\u8bc1\u3001 HZ \u62a4\u7167\u3001 JGZ \u519b\u5b98\u8bc1\u3001 QT \u5176\u4ed6)",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "id_code",
                        "in": "formData",
                        "description": "\u8bc1\u4ef6\u53f7\u7801",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "id_img",
                        "in": "formData",
                        "description": "\u8eab\u4efd\u8bc1\u660e\u6750\u6599\n     * \u652f\u6301\u683c\u5f0f\uff1ajpg\u3001jpeg\u3001png\u3001gif\u3001bmp",
                        "required": true,
                        "type": "file"
                    },
                    {
                        "name": "org_code",
                        "in": "formData",
                        "description": "\u7ec4\u7ec7\u8bc1\u660e\u7f16\u53f7",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "org_img",
                        "in": "formData",
                        "description": "\u7ec4\u7ec7\u8bc1\u660e\u6750\u6599\n     * \u82e5\u586b\u5199org_code\uff0c\u5219\u6b64\u9879\u5fc5\u586b\n     * \u652f\u6301\u683c\u5f0f\uff1ajpg\u3001jpeg\u3001png\u3001gif\u3001bmp",
                        "required": false,
                        "type": "file"
                    },
                    {
                        "name": "org_proof_type",
                        "in": "formData",
                        "description": "\u7ec4\u7ec7\u8bc1\u660e\u7c7b\u578b(YYZZ \u8425\u4e1a\u6267\u7167\u3001 ORG \u7ec4\u7ec7\u673a\u6784\u4ee3\u7801\u8bc1\u3001 QT \u5176\u4ed6)\n     * \u82e5\u586b\u5199org_code\uff0c\u5219\u6b64\u9879\u5fc5\u586b",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "org_type",
                        "in": "formData",
                        "description": "\u4f01\u4e1a\u7c7b\u578b(PR \u4e2a\u4f53\u3001 PU \u5de5\u5546)",
                        "required": false,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "\u4e0a\u4f20\u8bc1\u4ef6\u6210\u529f",
                        "schema": {
                            "type": "array",
                            "example": {
                                "code": 200,
                                "msg": "\u4e0a\u4f20\u8bc1\u4ef6\u6210\u529f\uff0c\u6b63\u5728\u5ba1\u6838\u4e2d\uff01"
                            }
                        }
                    },
                    "409": {
                        "description": "\u6a21\u677f\u4e0d\u5b58\u5728",
                        "schema": {
                            "type": "{'code':409,'msg':'\u6a21\u677f\u4e0d\u5b58\u5728\uff0c\u4e0a\u4f20\u8bc1\u4ef6\u5931\u8d25\uff01'}"
                        }
                    }
                }
            }
        },
        "/agent/dns/whois-email": {
            "get": {
                "tags": [
                    "agent/dns"
                ],
                "summary": "\u83b7\u53d6 Whois \u90ae\u7bb1\u5217\u8868",
                "operationId": "getWhoisEmail",
                "parameters": [
                    {
                        "name": "keyword",
                        "in": "query",
                        "description": "\u57df\u540d",
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "\u64cd\u4f5c\u6210\u529f",
                        "schema": {
                            "type": "array",
                            "example": {
                                "data": {
                                    "email": [
                                        "email1@test.com",
                                        "email2@test.com"
                                    ]
                                }
                            }
                        }
                    }
                }
            }
        },
        "/agent/dns/acquire-domain": {
            "post": {
                "tags": [
                    "agent/dns"
                ],
                "summary": "\u53d1\u9001\u57df\u540d\u53d6\u56de\u9a8c\u8bc1\u90ae\u4ef6",
                "operationId": "acquireDomain",
                "parameters": [
                    {
                        "name": "keyword",
                        "in": "formData",
                        "description": "\u57df\u540d",
                        "type": "string"
                    },
                    {
                        "name": "email",
                        "in": "formData",
                        "description": "\u63a5\u6536\u90ae\u4ef6\u7684\u90ae\u7bb1",
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "\u64cd\u4f5c\u6210\u529f",
                        "schema": {
                            "type": "array",
                            "example": {
                                "msg": "\u64cd\u4f5c\u6210\u529f",
                                "next_url": null,
                                "code": 200
                            }
                        }
                    }
                }
            }
        },
        "/agent/dns/validate-domain-acquirement": {
            "post": {
                "tags": [
                    "agent/dns"
                ],
                "summary": "\u9a8c\u8bc1\u57df\u540d\u53d6\u56de\u9a8c\u8bc1\u7801",
                "operationId": "validateDomainAcquirement",
                "parameters": [
                    {
                        "name": "keyword",
                        "in": "formData",
                        "description": "\u57df\u540d",
                        "type": "string"
                    },
                    {
                        "name": "code",
                        "in": "formData",
                        "description": "\u63a5\u6536\u5230\u7684\u9a8c\u8bc1\u7801",
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "\u64cd\u4f5c\u6210\u529f",
                        "schema": {
                            "type": "array",
                            "example": {
                                "msg": "\u64cd\u4f5c\u6210\u529f",
                                "next_url": null,
                                "code": 200
                            }
                        }
                    }
                }
            }
        },
        "/agent/domain/check": {
            "get": {
                "tags": [
                    "agent/domain"
                ],
                "summary": "\u67e5\u8be2\u57df\u540d\u662f\u5426\u53ef\u6ce8\u518c",
                "description": "\n     in_use \u72b6\u6001\u7801\u8bf4\u660e\n\u72b6\u6001\u7801 | \u8bf4\u660e\n----|----\n0 | \u57df\u540d\u672a\u88ab\u6ce8\u518c\n1 | \u57df\u540d\u5df2\u88ab\u6ce8\u518c\n<br/>",
                "operationId": "check",
                "parameters": [
                    {
                        "name": "keyword",
                        "in": "query",
                        "description": "\u57df\u540d\u540d\u79f0",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "\u5f97\u5230\u6b64\u57df\u540d\u662f\u5426\u53ef\u6ce8\u518c\u4fe1\u606f",
                        "schema": {
                            "type": "array",
                            "example": {
                                "code": 200,
                                "msg": "\u6b64\u57df\u540d\u7b26\u5408\u6ce8\u518c\u89c4\u5219\uff01",
                                "data": {
                                    "in_use": 1
                                }
                            }
                        }
                    }
                }
            }
        },
        "/agent/domain/info": {
            "get": {
                "tags": [
                    "agent/domain"
                ],
                "summary": "\u83b7\u53d6\u57df\u540d\u4fe1\u606f",
                "description": "\n    \u672c\u5730\u72b6\u6001\u7801 local_status \u8bf4\u660e\n\u5e38\u91cf | \u8bf4\u660e\n----|----\nSTATUS_NORMAL | \u57df\u540d\u6b63\u5e38\nSTATUS_EXPIRE | \u57df\u540d\u8fc7\u671f\nSTATUS_REDEMPTION | \u57df\u540d\u5f85\u8d4e\u56de\nSTATUS_DOING | \u57df\u540d\u6b63\u5728\u6ce8\u518c\n<br/>\n\n    \u57df\u540d\u5b9e\u540d\u72b6\u6001\u8bf4\u660e\nrealname_status | \u8bf4\u660e\n---- | ----\nNOT_UPLOADED | \u672a\u4e0a\u4f20\u8bc1\u4ef6\nNO_NEED | \u65e0\u9700\u5b9e\u540d\u5236\nPENDING | \u5b9e\u540d\u5ba1\u6838\u4e2d\nSUCCESSFUL | \u5b9e\u540d\u5ba1\u6838\u901a\u8fc7\nFAILED | \u5b9e\u540d\u5ba1\u6838\u5931\u8d25\n<br/>",
                "operationId": "info",
                "parameters": [
                    {
                        "name": "keyword",
                        "in": "query",
                        "description": "\u57df\u540d\u540d\u79f0",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "\u5f97\u5230\u5bf9\u5e94\u7684\u57df\u540d\u4fe1\u606f",
                        "schema": {
                            "type": "array",
                            "example": {
                                "code": 200,
                                "msg": "\u83b7\u53d6\u57df\u540d\u4fe1\u606f\u6210\u529f\uff01",
                                "data": {
                                    "id": 1,
                                    "keyword": "xmisp.com",
                                    "...": "..."
                                }
                            }
                        }
                    },
                    "409": {
                        "description": "\u57df\u540d\u4fe1\u606f\u4e0d\u5b58\u5728",
                        "schema": {
                            "type": "{'code':409,'msg':'\u83b7\u53d6\u5931\u8d25\uff0c\u4e0d\u5b58\u5728\u6b64\u57df\u540d\u4fe1\u606f\uff01'}"
                        }
                    }
                }
            }
        },
        "/agent/domain/list": {
            "get": {
                "tags": [
                    "agent/domain"
                ],
                "summary": "\u83b7\u53d6\u6240\u6709\u57df\u540d\u4fe1\u606f",
                "description": "\n    \u72b6\u6001\u7801 status \u8bf4\u660e\n\u5e38\u91cf | \u8bf4\u660e\n----|----\nSTATUS_NORMAL | \u57df\u540d\u6b63\u5e38\nSTATUS_EXPIRE | \u57df\u540d\u8fc7\u671f\nSTATUS_REDEMPTION | \u57df\u540d\u5f85\u8d4e\u56de\nSTATUS_DELETE | \u57df\u540d\u5df2\u5220\u9664\nSTATUS_DOING | \u57df\u540d\u6b63\u5728\u6ce8\u518c\n<br/>\n\n    \u57df\u540d\u5b9e\u540d\u72b6\u6001\u8bf4\u660e\nrealname_status | \u8bf4\u660e\n---- | ----\nNOT_UPLOADED | \u672a\u4e0a\u4f20\u8bc1\u4ef6\nNO_NEED | \u65e0\u9700\u5b9e\u540d\u5236\nPENDING | \u5b9e\u540d\u5ba1\u6838\u4e2d\nSUCCESSFUL | \u5b9e\u540d\u5ba1\u6838\u901a\u8fc7\nFAILED | \u5b9e\u540d\u5ba1\u6838\u5931\u8d25\n<br/>",
                "operationId": "domainList",
                "parameters": [
                    {
                        "name": "limit",
                        "in": "query",
                        "description": "\u8fd4\u56de\u57df\u540d\u4fe1\u606f\u7684\u6570\u91cf\uff0c\u9ed8\u8ba4\u8fd4\u56de20\u6761",
                        "required": false,
                        "type": "integer"
                    },
                    {
                        "name": "offset",
                        "in": "query",
                        "description": "\u8fd4\u56de\u57df\u540d\u4fe1\u606f\u7684\u5f00\u59cb\u4f4d\u7f6e\uff0c\u9ed8\u8ba4\u5f00\u59cb\u4f4d\u7f6e\u4e3a1",
                        "required": false,
                        "type": "integer"
                    },
                    {
                        "name": "sort",
                        "in": "query",
                        "description": "\u8fd4\u56de\u57df\u540d\u4fe1\u606f\u7684\u6392\u5e8f\u89c4\u5219\uff0c\u5982sort='id,name'\uff0c\u9ed8\u8ba4\u6392\u5e8f\u89c4\u5219\u4e3a\u4e3b\u952e\u5b57\u6bb5",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "order",
                        "in": "query",
                        "description": "\u8fd4\u56de\u57df\u540d\u4fe1\u606f\u7684\u6392\u5e8f\u65b9\u5411(0 desc\u964d\u5e8f\u30011 asc\u5347\u5e8f)\uff0c\u5982order='1,1'\uff0c\u9ed8\u8ba4\u6392\u5e8f\u65b9\u5411\u4e3a\u5347\u5e8f",
                        "required": false,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "\u5f97\u5230\u6240\u6709\u57df\u540d\u4fe1\u606f\uff0c\u4e0d\u5b58\u5728\u4efb\u4f55\u4fe1\u606f\u65f6\uff0cdata\u5b57\u6bb5\u4e3a\u7a7a\u6570\u7ec4",
                        "schema": {
                            "type": "array",
                            "example": {
                                "code": 200,
                                "msg": "\u83b7\u53d6\u6240\u6709\u57df\u540d\u4fe1\u606f\u6210\u529f\uff01",
                                "data": [
                                    {
                                        "id": 1,
                                        "keyword": "xmisp.com",
                                        "...": "..."
                                    },
                                    {
                                        "id": 2,
                                        "keyword": "baidu.com",
                                        "...": "..."
                                    }
                                ]
                            }
                        }
                    }
                }
            }
        },
        "/agent/domain/register": {
            "post": {
                "tags": [
                    "agent/domain"
                ],
                "summary": "\u57df\u540d\u6ce8\u518c",
                "description": "<font color=red>\u5f53\u6ce8\u518c\u6ea2\u4ef7\u57df\u540d\u65f6\uff0c\u5c06\u91c7\u7528\u9ed8\u8ba4\u4e0a\u6e38\u8fdb\u884c\u6ce8\u518c\u800c\u975e\u6839\u636e\u4ea7\u54c1\u9650\u91cf\u4e2d\u7684\u4e0a\u6e38</font>\n<br/>\n\n    \u57df\u540d\u72b6\u6001\u72b6\u6001\u8bf4\u660e\nregister_status | \u8bf4\u660e\n---- | ----\nPENDING | \u6ce8\u518c\u4e2d\nSUCCESSFUL | \u6ce8\u518c\u6210\u529f\nFAILED | \u6ce8\u518c\u5931\u8d25\n<br/>\n\n    \u57df\u540d\u5b9e\u540d\u72b6\u6001\u8bf4\u660e\nrealname_status | \u8bf4\u660e\n---- | ----\nNOT_UPLOADED | \u672a\u4e0a\u4f20\u8bc1\u4ef6\nNO_NEED | \u65e0\u9700\u5b9e\u540d\u5236\nPENDING | \u5b9e\u540d\u5ba1\u6838\u4e2d\nSUCCESSFUL | \u5b9e\u540d\u5ba1\u6838\u901a\u8fc7\nFAILED | \u5b9e\u540d\u5ba1\u6838\u5931\u8d25\n",
                "operationId": "register",
                "parameters": [
                    {
                        "name": "keyword",
                        "in": "formData",
                        "description": "\u57df\u540d\u540d\u79f0",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "upstream_id",
                        "in": "formData",
                        "description": "\u4e0a\u6e38ID",
                        "required": false,
                        "type": "integer"
                    },
                    {
                        "name": "period",
                        "in": "formData",
                        "description": "\u6ce8\u518c\u5468\u671f(.CN\u7684\u6ce8\u518c\u5468\u671f\u4e3a1~10)",
                        "required": true,
                        "type": "integer"
                    },
                    {
                        "name": "contact_template_id",
                        "in": "formData",
                        "description": "\u4ee3\u7406\u5546\u672c\u5730\u552f\u4e00\u6a21\u677fID",
                        "required": true,
                        "type": "integer"
                    },
                    {
                        "name": "dns",
                        "in": "formData",
                        "description": "\u591a\u4e2aDNS\u8bf7\u7528','\u5206\u5272(\u9ed8\u8ba4\u91c7\u7528\u7cfb\u7edf\u7f3a\u7701DNS)\uff0c\u7b2c\u4e00\u4e2a\u503c\u4e3a\u4e3bDNS\uff0c\u7b2c\u4e8c\u4e2a\u4e3a\u8f85DNS\uff0c\u5982dnspon.cn,dns.com...",
                        "required": false,
                        "type": "string",
                        "items": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "\u6ce8\u518c\u6210\u529f",
                        "schema": {
                            "type": "array",
                            "example": {
                                "code": 200,
                                "msg": "\u6ce8\u518c\u57df\u540d\u6210\u529f\uff01"
                            }
                        }
                    },
                    "423": {
                        "description": "\u57df\u540d\u5df2\u88ab\u6ce8\u518c",
                        "schema": {
                            "type": "{'code':423,'msg':'\u6ce8\u518c\u5931\u8d25\uff0c\u6b64\u57df\u540d\u5df2\u88ab\u6ce8\u518c\uff01'}"
                        }
                    },
                    "480": {
                        "description": "\u57df\u540d\u6b63\u5728\u6ce8\u518c",
                        "schema": {
                            "type": "{'code':480,'msg':'\u57df\u540d\u6b63\u5728\u6ce8\u518c,\u8bf7\u4f7f\u7528info\u63a5\u53e3\u67e5\u8be2\u6ce8\u518c\u60c5\u51b5'}"
                        }
                    }
                }
            }
        },
        "/agent/domain/renew": {
            "post": {
                "tags": [
                    "agent/domain"
                ],
                "summary": "\u57df\u540d\u7eed\u8d39",
                "operationId": "renew",
                "parameters": [
                    {
                        "name": "keyword",
                        "in": "formData",
                        "description": "\u57df\u540d\u540d\u79f0",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "expiry",
                        "in": "formData",
                        "description": "\u5230\u671f\u65f6\u95f4(\u8bef\u5dee\u5e94\u5c0f\u4e8e16\u4e2a\u5c0f\u65f6)\uff0c\u5982\uff1a'2016-10-13T07:43:43+08:00'",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "period",
                        "in": "formData",
                        "description": "\u7eed\u8d39\u5468\u671f(.CN\u7684\u7eed\u8d39\u5468\u671f\u4e3a1~10)",
                        "required": true,
                        "type": "integer"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "\u7eed\u8d39\u6210\u529f",
                        "schema": {
                            "type": "array",
                            "example": {
                                "code": 200,
                                "msg": "\u7eed\u8d39\u6210\u529f\uff01"
                            }
                        }
                    },
                    "409": {
                        "description": "\u57df\u540d\u672a\u88ab\u6ce8\u518c",
                        "schema": {
                            "type": "{'code':409,'msg':'\u6b64\u57df\u540d\u672a\u88ab\u6ce8\u518c\uff0c\u4e0d\u80fd\u7eed\u8d39\uff01'}"
                        }
                    }
                }
            }
        },
        "/agent/domain/dns": {
            "put": {
                "tags": [
                    "agent/domain"
                ],
                "summary": "\u66f4\u65b0DNS",
                "operationId": "updateDns",
                "parameters": [
                    {
                        "name": "keyword",
                        "in": "formData",
                        "description": "\u57df\u540d",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "dns",
                        "in": "formData",
                        "description": "\u591a\u4e2aDNS\u8bf7\u7528','\u5206\u5272(\u9ed8\u8ba4\u91c7\u7528\u7cfb\u7edf\u7f3a\u7701DNS)\uff0c\u7b2c\u4e00\u4e2a\u503c\u4e3a\u4e3bDNS\uff0c\u7b2c\u4e8c\u4e2a\u4e3a\u8f85DNS\uff0c\u5982dnspon.cn,dns.com...",
                        "required": true,
                        "type": "string",
                        "items": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "\u66f4\u65b0DNS\u6210\u529f",
                        "schema": {
                            "type": "array",
                            "example": {
                                "code": 200,
                                "msg": "\u66f4\u65b0DNS\u6210\u529f\uff01"
                            }
                        }
                    },
                    "409": {
                        "description": "\u6b64\u57df\u540d\u4e0d\u5b58\u5728",
                        "schema": {
                            "type": "{'code':409,'msg':'\u66f4\u65b0DNS\u5931\u8d25\uff0c\u6b64\u57df\u540d\u4e0d\u5b58\u5728\uff01'}"
                        }
                    }
                }
            }
        },
        "/agent/domain/status": {
            "post": {
                "tags": [
                    "agent/domain"
                ],
                "summary": "\u6dfb\u52a0\u57df\u540d\u72b6\u6001",
                "description": "\n    \u53ef\u7528\u7684 Status\nStatus Value | Description\n---- | ----\nclientDeleteProhibited | \u7981\u6b62\u5220\u9664\nclientHold | \u7981\u6b62\u89e3\u6790\nclientRenewProhibited | \u7981\u6b62\u7eed\u8d39\nclientTransferProhibited | \u7981\u6b62\u8f6c\u79fb\nclientUpdateProhibited | \u7981\u6b62\u66f4\u65b0\n<br/>",
                "operationId": "addStatus",
                "parameters": [
                    {
                        "name": "keyword",
                        "in": "formData",
                        "description": "\u57df\u540d",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "status",
                        "in": "formData",
                        "description": "\u8981\u6dfb\u52a0\u7684\u57df\u540d\u72b6\u6001\uff0c\u72b6\u6001\u95f4\u7528','\u9694\u5f00",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "\u6dfb\u52a0\u57df\u540d\u72b6\u6001\u6210\u529f",
                        "schema": {
                            "type": "array",
                            "example": {
                                "code": 200,
                                "msg": "\u6dfb\u52a0\u57df\u540d\u72b6\u6001\u6210\u529f\uff01"
                            }
                        }
                    },
                    "409": {
                        "description": "\u6b64\u57df\u540d\u4e0d\u5b58\u5728",
                        "schema": {
                            "type": "{'code':409,'msg':'\u6dfb\u52a0\u72b6\u6001\u5931\u8d25\uff0c\u6b64\u57df\u540d\u4e0d\u5b58\u5728!'}"
                        }
                    }
                }
            },
            "delete": {
                "tags": [
                    "agent/domain"
                ],
                "summary": "\u5220\u9664\u57df\u540d\u72b6\u6001",
                "description": "\n    \u53ef\u7528\u7684 Status\nStatus Value | Description\n---- | ----\nclientDeleteProhibited | \u7981\u6b62\u5220\u9664\nclientHold | \u7981\u6b62\u89e3\u6790\nclientRenewProhibited | \u7981\u6b62\u7eed\u8d39\nclientTransferProhibited | \u7981\u6b62\u8f6c\u79fb\nclientUpdateProhibited | \u7981\u6b62\u66f4\u65b0\n<br/>",
                "operationId": "deleteStatus",
                "parameters": [
                    {
                        "name": "keyword",
                        "in": "formData",
                        "description": "\u57df\u540d",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "status",
                        "in": "formData",
                        "description": "\u8981\u5220\u9664\u7684\u57df\u540d\u72b6\u6001\uff0c\u72b6\u6001\u95f4\u7528','\u9694\u5f00",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
[...]
